<% include ./partials/header.ejs %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><strong>EasyRetail</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/user">Home</a></li>
      <li><a href="/user/property">Properties</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h2><strong>Edit Tenant</strong></h2>
  </div>
  <div class="row">
    <form action="/user/property/<%=property._id%>/tenant/<%=tenant._id%>/edit?_method=PUT" method="post">
      <div class="form-group">
        <label for="InputName">Name of Tenant</label>
        <input type="text" class="form-control" id="InputName" name="tenant[name]" placeholder="Tenant Name" value="<%=tenant.name%>">
      </div>
      <div class="form-group">
        <label for="InputShopName">Name of Shop</label>
        <input type="text" class="form-control" id="InputShopName" name="tenant[shop_name]" placeholder="Shop Name" value="<%=tenant.shop_name%>">
      </div>
      <div class="form-group">
        <label for="InputUnit">Unit No</label>
        <input type="text" class="form-control" id="InputUnit" name="tenant[unit]" placeholder="Unit No." value="<%=tenant.unit%>">
      </div>
      <div class="form-group">
        <label for="InputContact">Contact</label>
        <input type="text" class="form-control" id="InputContact" name="tenant[contact]" placeholder="Contact" value="<%=tenant.contact%>">
      </div>
      <div class="form-group">
        <label for="InputDateRented">Payment Due Date</label>
        <input type="date" class="form-control" id="InputDateRented" name="tenant[date_rented]" placeholder="Date Rented" value="<%=tenant.date_rented%>">
      </div>
      <div class="form-group">
        <label for="InputRentalStatus">Rental Status (Paid/Owing)</label>
        <input type="text" class="form-control" id="InputRentalStatus" name="tenant[rent_status]" placeholder="Rental Status" value="<%=tenant.rent_status%>">
      </div>
      <button type="submit" class="btn btn-default btn-primary">Save</button>
    </form>
  </div>
</div>

<% include ./partials/footer.ejs %>
