<% include ./partials/header.ejs  %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">EasyRetail</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/user">Home</a></li>
      <li><a href="/user/property">Properties</a></li>
      <li><a href="/user/property/new">Add New Property</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1>Properties</h1>
    <h1></h1>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Property Name</th>
          <th>Address</th>
          <th>Postal Code</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% allProperties.forEach(function(property) { %>
          <tr>
            <td><%= property.name %></td>
            <td><%= property.address %></td>
            <td><%= property.postalcode %></td>
            <td><a class="btn btn-primary btn-large" href="/user/property/<%=property._id%>/tenant" role="button">Tenants</a></td>
            <td><form method="GET" action="/user/property/<%=property._id%>/edit">
              <button type="submit" class="btn btn-warning  btn-large">Edit</button>
            </form></td>
            <td><form method="POST" action="/user/property/<%=property._id%>?_method=DELETE">
              <button type="submit" class="btn btn-danger btn-large">Delete</button>
            </form></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<% include ./partials/footer.ejs  %>
