<% include ./partials/header.ejs  %>

<div class="container">
  <div class="row">
    <a class="btn btn-default btn-primary" href="/user" role="button">Home</a>
    <a class="btn btn-default btn-primary" href="/user/property/new" role="button">Add New Property</a>
    <a class="btn btn-default btn-primary" href="/logout" role="button">Logout</a>
    <h1>Properties</h1>
    <ul>
    <% allProperties.forEach(function(property) { %>
      <li>
        <a href="/user/tenant/<%= property._id %>"><%= property.name %></a></br>
        <%= property.address %></br>
        <%= property.postalcode %></br>
        <form method="GET" action="/user/property/<%=property._id%>/edit">
          <input type="submit" value="EDIT">
        </form>
        <form method="POST" action="/user/property/<%=property._id%>?_method=DELETE" >
          <input type="submit" value="DELETE">
        </form>
      </li>
    <% }) %>
    </ul>
  </div>
</div>

<% include ./partials/footer.ejs  %>
