<% include ./partials/header.ejs  %>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><strong>EasyRetail</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/user">Home</a></li>
      <li><a href="/user/property">Properties</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h2><strong>Tenants</strong></h2>
  </div>
  <div class="row table-responsive">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>Tenant Name</th>
          <th>Shop Name</th>
          <th>Unit No.</th>
          <th>Contact No.</th>
          <th>Payment Due Date</th>
          <th>Rental Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% allTenants.forEach(function(tenant) { %>
          <% var ds = new Date(tenant.date_rented)%>
          <% var ddmmyy = ds.getDate() + "-" + ds.getMonth() + "-" + ds.getFullYear() %>
          <% %>
          <tr>
          <td><%= tenant.shop_name %></td>
          <td><%= tenant.name %></td>
          <td><%= tenant.unit %></td>
          <td><%= tenant.contact %></td>
          <td><%= ddmmyy %></td>
          <td><%= tenant.rent_status %></td>
          <td><form method="GET" action="/user/property/<%=property._id%>/tenant/<%=tenant._id%>/edit">
          <button type="submit" class="btn btn-warning btn-large">Edit</button>
          </form></td>
          <td><form method="POST" action="/user/property/<%=property._id%>/tenant/<%=tenant._id%>?_method=DELETE">
          <button type="submit" class="btn btn-danger btn-large">Delete</button>
          </form></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <a class="btn btn-success btn-large" href="/user/property/<%=property._id%>/tenant/new" role="button">Add New Tenant</a>
  </div>
</div>

<% include ./partials/footer.ejs  %>
